.container {
  margin-top: 0.5em;

  .title {
    padding: 1em;
  }

  .body {
    padding: 1em;

    .question {
      padding: 20px 1em;
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    .answer {
      padding: 20px;
      display: flex;

      .link {
        color: rgb(55, 101, 255);
        text-decoration: underline;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
}
