.container {
  position: relative;
  margin-right: 5px;

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
  }

  &.no-margin {
    margin-right: 0;
  }
}
