.container {
  position: relative;
  margin-right: 5px;

  &--sort {
    min-width: 100px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;

    .icon {
      margin-left: 5px;
    }
  }

  &.no-margin {
    margin-right: 0;
  }

  &.active {
    background-color: rgba(grey, .2);
  }
}
