.container {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  position: relative;
  padding: 0 5px;
}

input:focus {
  outline: 0;
}

.email {
  >:not(:last-child) {
    margin-bottom: 1em;
  }
}
