@import 'colors.scss';

.button {
  cursor: pointer;
  display: flex;
  flex-direction: columnn;
  justify-content: center;
  user-select: none;

  &.round {
    border-radius: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
  }

  &--justify-content-start {
    justify-content: flex-start;
  }

  &.disabled {
    opacity: .5;
    cursor: default;
  }

  &--size-small {
    width: 1rem;
  }

  &--size-medium {
    width: 2rem;
  }

  &--size-large {
    width: 3rem;
  }

  &--size-x-large {
    width: 4rem;
  }

  &--size-enormous {
    width: 18.75rem;
    height: 6.25rem
  }

  &--theme-black {
    background-color: black;
  }

  &--theme-grey {
    background-color: rgba(181, 181, 181, 0.55);
  }

  &--theme-white {
    background-color: rgba(white, .8);
  }

  &--theme-orange {
    background-color: rgb(255, 112, 17);
  }

  &--theme-blue {
    background-color: rgb(53, 89, 248);
  }

  &--border-black {
    border: 1px solid black;
  }

  &--border-grey {
    border: 1px solid grey;
  }

  &.padded {
    padding: 0.55em 1.15em;
  }

  &.hoverable {
    position: relative;

    &::after {
      content: '';
      height: 1px;
      width: 0;
      background-color: grey;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width .5s ease-in;
    }

    &:hover {
      &::after {
        opacity: 1;
        width: 100%
      }
    }
  }

  &.hoverOpacity:hover {
    opacity: .5;
  }

  &.active {
    background-color: rgba(grey, .2);
  }
}
