.subMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 0;
  height: 120px;
  width: 100%;
  min-width: 100px;
  min-width: max-content;
  display: block;
  overflow-y: scroll;
  animation: drop .35s ease-in;
  z-index: 50;
  overflow: auto;

  @keyframes drop {
    from {
      height: 0;
    }

    to {
      height: 120px;
    }
  }
  .item {
    padding: 5px;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }
}
