// Variables
$color-space-cadet: #2b2d42;
$color-light-grey: #cdcdcd;
$color-regular-grey: #6e6e6e;
$color-manatee: #8d99ae;
$color-alice-blue: #edf2f4;
$color-imperial-red: #ef233c;
$color-amaranth-red: #d90429;
$color-white: #fff;
$color-black: #000;
$color-raw-sienna: #c87b4b;
$color-malachite: #37e06f;
$color-malachite--dark: #039c36;
$color-cyan-process: #36bce1;
$color-red-salsa: #ea4b4b;
$color-orange-peel: #fda233;
$color-terra: #352424;
$color-acqua: #5e6af3;
$color-dark-grey: #4e4e4e;
$color-regular-grey: #6f6f6f;
$color-light-grey: #cdcdcd;
$color-black: #000;

$color-primary: $color-amaranth-red;
