@import 'globals.scss';

.icon {
  position: relative;

  i {
    position: relative;
    display: block;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--theme-grey {
    svg {
      fill: $color-manatee;
    }
  }

  &--theme-white {
    svg {
      fill: $color-white;
    }
  }

  &--theme-black {
    svg {
      fill: $color-black;
    }
  }

  &--theme-white {
    svg {
      fill: rgb(255, 255, 255);
    }
  }

  &--theme-color-regular-grey {
    svg {
      fill: $color-regular-grey;
    }
  }

  &--size-small {
    i {
      width: 0.5rem;
      height: 0.5rem;
    }

    svg {
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  &--size-medium {
    i {
      width: 1rem;
      height: 1rem;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--size-large {
    i {
      width: 1.5rem;
      height: 1.5rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--size-x-large {
    i {
      width: 2rem;
      height: 2rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &--size-xx-large {
    i {
      width: 3rem;
      height: 3rem;
    }

    svg {
      width: 3rem;
    }
  }

  &--round {
    border-radius: 50%;
  }

  &--round#{&}--size-small {
    padding: 10px;
  }

  &--rotate-left {
    transform: rotate(90deg);
  }

  &--rotate-right {
    transform: rotate(-90deg);
  }

  .count {
    border-radius: 50%;
    background-color: white;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 7px;
  }
}

@include viewport($size: tablet) {
  .icon {  
    &--size-small {
      i {
        width: 0.75rem;
        height: 0.75rem;
      }
  
      svg {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  
    &--size-medium {
      i {
        width: 1.25rem;
        height: 1.25rem;
      }
  
      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  
    &--size-large {
      i {
        width: 1.75rem;
        height: 1.75rem;
      }
  
      svg {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  
    &--size-x-large {
      i {
        width: 2.25rem;
        height: 2.25rem;
      }
  
      svg {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }
}

@include viewport($size: desktop) {
  .icon {  
    &--size-small {
      i {
        width: 1rem;
        height: 1rem;
      }
  
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  
    &--size-medium {
      i {
        width: 1.5rem;
        height: 1.5rem;
      }
  
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  
    &--size-large {
      i {
        width: 2rem;
        height: 2rem;
      }
  
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  
    &--size-x-large {
      i {
        width: 2.5rem;
        height: 2.5rem;
      }
  
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
