.view-item {
  padding: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  &__carousel {
    position: relative;

    .box {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(grey, .5);
      display: flex;
      align-items: center;
      justify-content: center;

      .message {
        background-color: white;
        padding: 20px;
      }
    }
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
  }

  .right {
    margin-left: 20px;
  }

  .sizes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
