@import 'globals.scss';

.text {
  &--size-xsmall {
    font-size: 0.75rem;
  }

  &--size-semismall {
    font-size: 0.75rem;
  }

  &--size-small {
    font-size: 1rem;
  }

  &--size-medium {
    font-size: 1.25rem;
  }

  &--size-medium-large {
    font-size: 1.5rem;
  }

  &--size-large {
    font-size: 2rem;
  }

  &--size-xlarge {
    font-size: 3rem;
  }

  &--size-xxlarge {
    font-size: 4rem;
  }

  &--weight-thin {
    font-weight: 100;
  }

  &--weight-light {
    font-weight: 300;
  }

  &--weight-regular {
    font-weight: 400;
  }

  &--weight-medium {
    font-weight: 500;
  }

  &--weight-bold {
    font-weight: 700;
  }

  &--weight-black {
    font-weight: 900;
  }

  &--transform-uppercase {
    text-transform: uppercase;
  }

  &--transform-capitalize {
    text-transform: capitalize;
  }

  &--decoration-underline {
    text-decoration: underline;
  }

  &--decoration-line-through {
    text-decoration: line-through;
  }

  &--display-block {
    display: block;
  }

  &--color-black {
    color: $color-black;
  }

  &--color-grey {
    color: $color-manatee;
  }

  &--color-grey-light {
    color: $color-alice-blue;
  }

  &--color-red {
    color: $color-red-salsa;
  }

  &--color-green {
    color: $color-malachite;
  }

  &--color-blue {
    color: $color-cyan-process;
  }

  &--color-white {
    color: $color-white;
  }

  &--color-dark-grey {
    color: $color-dark-grey;
  }

  &--color-regular-grey {
    color: $color-regular-grey;
  }

  &--display-block {
    display: block;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

@include viewport($size: tablet) {
  .text {
    &--size-xsmall {
      font-size: 0.85rem;
    }
  
    &--size-semismall {
      font-size: 1rem;
    }
  
    &--size-small {
      font-size: 1.25rem;
    }
  
    &--size-medium {
      font-size: 1.5rem;
    }
  
    &--size-medium-large {
      font-size: 1.75rem;
    }
  
    &--size-large {
      font-size: 2.25rem;
    }
  
    &--size-xlarge {
      font-size: 4rem;
    }
  
    &--size-xxlarge {
      font-size: 5rem;
    }
  }
}

@include viewport($size: desktop) {
  .text {
    &--size-xsmall {
      font-size: 1.1rem;
    }
  
    &--size-semismall {
      font-size: 1.25rem;
    }
  
    &--size-small {
      font-size: 1.5rem;
    }
  
    &--size-medium {
      font-size: 1.75rem;
    }
  
    &--size-medium-large {
      font-size: 2rem;
    }
  
    &--size-large {
      font-size: 2.5rem;
    }
  
    &--size-xlarge {
      font-size: 3rem;
    }
  
    &--size-xxlarge {
      font-size: 4rem;
    }
  }
}
