.grid {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--align-items-center {
    align-items: center;
  }

  &--align-items-start {
    align-items: flex-start;
  }

  &--align-items-end {
    align-items: flex-end;
  }

  &--justify-content-center {
    justify-content: center;
  }

  &--justify-content-space-between {
    justify-content: space-between;
  }

  &--justify-content-space-evenly {
    justify-content: space-evenly;
  }

  &--justify-content-start {
    justify-content: flex-start;
  }

  &--justify-content-end {
    justify-content: flex-end;
  }

  &--space-horizontal-xsmall {
    margin-left: -0.3em;

    >* {
      padding-left: 0.3em;
    }
  }

  &--space-horizontal-small {
    margin-left: -0.75em;

    >* {
      padding-left: 0.75em;
    }
  }

  &--space-horizontal-medium {
    margin-left: -1.25em;

    >* {
      padding-left: 1.25em;
    }
  }

  &--space-horizontal-large {
    margin-left: -1.5em;

    >* {
      padding-left: 1.5em;
    }
  }

  &--space-vertical-xsmall {
    margin-bottom: -0.3em;

    >* {
      padding-left: 0.3em;
    }
  }

  &--space-vertical-small {
    margin-bottom: -0.75em;

    >* {
      padding-bottom: 0.75em;
    }
  }

  &--space-vertical-medium {
    margin-bottom: -1.25em;

    >* {
      padding-bottom: 1.25em;
    }
  }

  &--space-vertical-large {
    margin-bottom: -1.5em;

    >* {
      padding-bottom: 1.5em;
    }
  }
}
